<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd%22%3E">
<configuration>
    <settings>    <!-- 카멜케이스 방식으로 자동 변환 시켜주는 세팅 -->
        <setting name="mapUnderscoreToCamelCase" value="true"></setting>
    </settings>
    <typeAliases>
    <!-- typeAliases : 축약어를 이용해 경로 탐색을 간편히 할 수 있다. -->
        <package name="com.ambition.board"/>
    </typeAliases>
</configuration>